[Desktop Entry]
Name=Bionic
Comment=Discover, download, and run LLMs locally
Exec=bionic %U
Icon=bionic
Type=Application
Categories=Development;
Keywords=developer;llm;
Terminal=false
StartupNotify=true
StartupWMClass=ai.elementlabs.bionic
MimeType=x-scheme-handler/bionic;
